In [3]:
#Basics & Strings

In [9]:
# Addition
print(2+1)

# Subtraction
print(2-1)

# Multiplication
print(2*2)

# Division
print(3/2)

# Specifying one of the numbers as a float
print(3.0/2)

# Works for either number
print(3/2.0)

# We can use this float() function to cast integers as floats:
print(float(3)/2)

3
1
4
1.5
1.5
1.5
1.5

In [10]:
2**3

8

In [11]:
print(4**0.5)
print(2 + 10 * 10 + 3)
print((2+10) * (10+3))

2.0
105
156

In [13]:
#Variable Assignments
# Let's create an object called "a" and assign it the number 5
a = 5

In [14]:
a

5

In [15]:
# Adding the objects
a+a

10

In [16]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income*tax_rate
# Show my taxes!
my_taxes

10.0

In [21]:
#Strings
#Creating a String
'hello'
'This is also a string'
"String built with double quotes"

'hello'

In [19]:
' I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-19-29ac9b138ca4>, line 1)

In [22]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [23]:
'Mera Bharath Mahaan'

'Mera Bharath Mahaan'

In [24]:
"M'era B'harath M'ahaan"

"M'era B'harath M'ahaan"

In [25]:
print('Mera Bharath Mahaan 1')
print('Mera Bharath Mahaan 2')

Mera Bharath Mahaan 1
Mera Bharath Mahaan 2

In [28]:
print('Mera Bharath Mahaan 1')
print('Mera Bharath Mahaan 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Mera Bharath Mahaan 1
Mera Bharath Mahaan 2
Use
 to print a new line


See what I mean?

In [29]:
print("Use \\n to print a new line")

Use \n to print a new line