## Basic of Python

In this video we will discuss about 

- Various Datatypes in Python
- Variable 
- Variables Assigment
- Print Formatting

## Various DataTypes in Python

### Numbers

# Python Tutorial

## Welcome to Python Tutorial


- Datatype

In [35]:
# Addition
print(2+1)

# Subtraction
print(2-1)

# Multiplication
print(2*2)

# Division
print(3/2)

# Specifying one of the numbers as a float
print(3.0/2)

# Works for either number
print(3/2.0)

# We can use this float() function to cast integers as floats:
print(float(3)/2)

3
1
4
1.5
1.5
1.5
1.5

In [36]:
print(10%2)

0

In [37]:
10**2

100

In [38]:
10/2

5.0

In [42]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income*tax_rate
# Show my taxes!
my_taxes

10.0

In [43]:
##Check the Data types
type(True)

bool

In [44]:
type("Hello")

str

### Strings

In [66]:
#Strings
#Creating a String
'hello'
'This is also a string'
"String built with double quotes"

'String built with double quotes'

In [48]:
"Hello"

'Hello'

In [52]:
'Sujata Patil'

'Sujata Patil'

In [53]:
type("Sujata Patil")

str

### Variable Assigment

In [54]:
# syntax
# var_name=values

a=10

In [14]:
type(a)

int

In [55]:
a='Sujata Patil'

In [56]:
type(a)

str

In [57]:
## Mathematical operation with Variable Assigment

a=10
b=20

In [58]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b)) ##BODMAS

200
0.5
10
200.5

In [59]:
## Various Ways of Printing

print("Hello")

Hello

In [60]:
first_name='Sujata'
last_name='Patil'

In [61]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Sujata and last name is Patil

In [62]:
print("My First name is {first} and last name is {last}".format(last=last_name,first=first_name))

My First name is Sujata and last name is Patil

In [64]:
len('Sujata')

6

In [65]:
type(['1',2,3,4,5])

list

In [67]:
' I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-67-29ac9b138ca4>, line 1)

In [68]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [69]:
'Mera Bharath Mahaan'

'Mera Bharath Mahaan'

In [70]:
"M'era B'harath M'ahaan"

"M'era B'harath M'ahaan"

In [71]:
print('Mera Bharath Mahaan 1')
print('Mera Bharath Mahaan 2')

Mera Bharath Mahaan 1
Mera Bharath Mahaan 2

In [72]:
print('Mera Bharath Mahaan 1')
print('Mera Bharath Mahaan 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Mera Bharath Mahaan 1
Mera Bharath Mahaan 2
Use
 to print a new line


See what I mean?

In [73]:
print("Use \\n to print a new line")

Use \n to print a new line

In [74]:
#String Basics
len('Mera Bharath Mahaan')

19

In [75]:
len("MeraBharathMahaan")

17

In [76]:
#String Indexing
print('Mera Bharath Mahaan')

Mera Bharath Mahaan

In [77]:
# Assign s as a string
s = 'Mera Bharath Mahaan'

In [78]:
S = 'Jai Ho Bharath'
print(S)

Jai Ho Bharath

In [79]:
s

'Mera Bharath Mahaan'

In [80]:
s[0]

'M'

In [81]:
s[1]

'e'

In [82]:
s[1:]

'era Bharath Mahaan'

In [83]:
s[:3]

'Mer'

In [84]:
s[3:6]

'a B'

In [85]:
s[:]

'Mera Bharath Mahaan'

In [86]:
s[-1]

'n'

In [87]:
s[:-1]

'Mera Bharath Mahaa'

In [88]:
s[-1:]

'n'

In [89]:
s[::1]

'Mera Bharath Mahaan'

In [91]:
s[::2]

'Mr hrt aan'

In [92]:
##String Properties
s
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [93]:
s

'Mera Bharath Mahaan'

In [94]:
s + ' Namasthe!'

'Mera Bharath Mahaan Namasthe!'

In [95]:
s

'Mera Bharath Mahaan'

In [96]:
#s = 'Mera Bharath Mahaan '
s = 'Hamara' + s[4:]
s

'Hamara Bharath Mahaan'

In [97]:
# We can reassign s completely though!
s = s + ' Namasthe!'
print(s)

Hamara Bharath Mahaan Namasthe!

In [98]:
letter = 'z'
letter*10

'zzzzzzzzzz'

In [99]:
#Basic Built-in String methods
s = 'Mera Bharath Mahaan'
# Upper Case a string
s.upper()

'MERA BHARATH MAHAAN'

In [100]:
# Lower case
s.lower()

'mera bharath mahaan'

In [101]:
s.split('a')

['Mer', ' Bh', 'r', 'th M', 'h', '', 'n']

In [102]:
s.split('ha')

['Mera B', 'rath Ma', 'an']

In [103]:
s.split('Ha')

['Mera Bharath Mahaan']

In [104]:
s = 'Mera Bharath! #Mahaan'
s.split()

['Mera', 'Bharath!', '#Mahaan']

In [105]:
s.split('#')

['Mera Bharath! ', 'Mahaan']

In [106]:
num = 12
name = 'Bharath'
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Bharath

In [107]:
print('My number is {one} and my name is {two}'.format(one=num,two=name))

My number is 12 and my name is Bharath

In [108]:
print('My number is {one} and my name is {two}'.format(one=name,two=num))

My number is Bharath and my name is 12

In [109]:
print('My number is {one} and my name is {two}, more {one}'.format(one=num,two=name))

My number is 12 and my name is Bharath, more 12

In [110]:
name = "Zeus"
letter1, letter2, letter3, letter4 = name
print(letter1)
print(letter2)

Z
e

In [111]:
c = "15"
d = "3"
print(c + d)

153

In [112]:
print(int(c) + int(d))

18

In [113]:
a = "Hello World"
print(a[4:10:2])

oWr